<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="FlotChartDemoCtrl">
  <div class="col">
    <div class="bg-light lter b-b wrapper-md" ng-style="app.settings.Paneleading">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-bold h3 text-black" ng-click="ceshi()" ng-style="app.settings.fontColor">商场运营</h1>
          <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">运营指标</button>-->
            <!--<button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">业态分析</button>-->
          <!--</div>-->
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="inline m-r text-left">
            <div class="m-b-xs inline"> <span class="text-muted" ng-style="app.settings.fontColor">筛选:</span></div>
            <div class="sparkline inline">
              <select class="form-control input-sm"
                      ng-options="level.value as level.name for level in storeOperations.level"
                      ng-change="OnselectConditions()"
                      ng-model="storeOperations.conditions.level"
                      ng-style="app.settings.select"

              >
              </select>
            </div>
            <div class="sparkline inline">
              <select class="form-control input-sm"
                      ng-options="type.value as type.name for type in storeOperations.type"
                      ng-change="OnselectConditions()"
                      ng-model="storeOperations.conditions.type"
                      ng-style="app.settings.select"
              >
              </select>
            </div>
            <div class="sparkline inline">
              <select class="form-control input-sm"
                      ng-options="area.value as area.name for area in storeOperations.area"
                      ng-change="OnselectConditions()"
                      ng-model="storeOperations.conditions.area"
                      ng-style="app.settings.select"
              >
              </select>
            </div>
          </div>
          <div class="inline text-left">
            <div class="m-b-xs inline"><span class="text-muted" ng-style="app.settings.fontColor">时间:</span></div>
            <div class="sparkline inline">
              <div class="btn-group dropdown" dropdown>
                <button class="btn btn-default btn-sm"ng-style="app.settings.button" dropdown-toggle>{{storeOperations.conditions.timeName}} <span class="caret"></span></button>
                <ul class="list-group list-group-lg m-b-none dropdown-menu izone-dropdown-menu">
                  <li class="">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="list-unstyled l-h-2x" style="padding-left: 10px">
                          <li ng-repeat="left in storeOperations.time.left" >
                            <a class="text-muted " ng-click="OnselectConditions(left.value,left.name)">{{left.name}}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-6 b-l b-light">
                        <ul class="list-unstyled l-h-2x" style="padding-left: 4px">
                          <li ng-repeat="right in storeOperations.time.right" >
                            <a class="text-muted " ng-click="OnselectConditions(right.value,right.name)">{{right.name}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md" >
      <div class="row">
        <div class="col-md-12">
          <div class="panel wrapper" ng-style="app.settings.Panel">

            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">天</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">周</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">月</button>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">{{storeOperations.trafficAnalysis.title}}</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">{{storeOperations.trafficAnalysis.time}}</span>
            <div class="chartHeight" id="trafficAnalysisID" ></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">天</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">周</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">月</button>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">{{storeOperations.inStoreOutVsPf.title}}</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">{{storeOperations.inStoreOutVsPf.time}}</span>
            <div class="chartHeight" id="trafficVsOutID"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">客流转化情况</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">本周</span>
            <div class="chartHeight" style="width: 50%" id="passengerFlowIntoID" ng-style="app.settings.Panel"></div>
            <div style=" width: 50%" ng-style="app.settings.Panel">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">天</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">周</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">月</button>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">每周停留时长 VS 每周访问频次</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">2017.08.06 - 2017.09.09</span>
            <div class="chartHeight" id="timeVsfrequencyID" >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
              <input type="checkbox" ng-model="showSpline">
              <i></i>
            </label>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">访问与停留情况</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">2017.08.06 - 2017.09.09</span>
            <div class="chartHeight"  id="" >

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">天</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">周</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">月</button>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">销售额分析</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">本周</span>
            <div class="chartHeight" id="salesAnalysisID">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
              <input type="checkbox" ng-model="showSpline">
              <i></i>
            </label>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">租金与平效</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">2017年8月 - 2017年9月</span>
            <div class="chartHeight"  id="rentBenefitsID">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <div class="btn-group pull-right">
              <div class="inline m-r text-left">
                <div class="m-b-xs inline"> <span class="text-muted" ng-style="app.settings.fontColor">指标:</span></div>
                <div class="sparkline inline">
                  <select class="form-control input-sm" ng-style="app.settings.select">
                    <option>业态面积比例</option>
                    <option>门店数量比例</option>

                  </select>
                </div>
              </div>
              <div class="inline m-r text-left">
                <div class="m-b-xs inline"> <span class="text-muted" ng-style="app.settings.fontColor">叠加:</span></div>
                <div class="sparkline inline">
                  <select class="form-control input-sm" ng-style="app.settings.select">
                    <option>每周停留时长</option>
                    <option>每周访问频次</option>
                    <option>进店率</option>
                    <option>平效</option>

                  </select>
                </div>
              </div>
              <div class="inline m-r text-left">
                <div class="m-b-xs inline"> <span class="text-muted" ng-style="app.settings.fontColor">时间:</span></div>
                <div class="sparkline inline">
                  <select class="form-control input-sm" ng-style="app.settings.select">
                    <option>近一年</option>
                    <option>近三年</option>
                    <option>近五年</option>
                    <option>全部</option>

                  </select>
                </div>
              </div>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">业态构成分析</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">近一年</span>
            <div class="chartHeight"  id="constituteAnalysisID">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel wrapper" ng-style="app.settings.Panel">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">面积</button>
              <button type="button" class="btn btn-default btn-sm"ng-style="app.settings.button">数量</button>
            </div>
            <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">当前业态构成</h4>
            <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">2017年8月 - 2017年9月</span>
            <div  class="chartHeight"  id="currentConstituteAnalysisID">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>