
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="storesInforCtrl">
    <div class="col">
        <div class="wrapper-md" >
            <div class="row">
                <div class="col-md-12">
                    <div class="panel wrapper">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 b-r " ng-style="app.settings.bgLight1">
                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="pull-right pull-none-xs text-center">
                                            <a href class="thumb-lg  m-r m-t">
                                                <img src="img/izone/u3128.png" >
                                            </a>
                                        </div>
                                        <div class="clear m-b">
                                            <div class="m-b m-t-sm">
                                                <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">杰克·琼斯</h4>
                                                <div class="m-t">
                                                    <a href class="btn btn-sm btn-default  btn-rounded"ng-style="app.settings.button">快时尚</a>
                                                    <a href class="btn btn-sm btn-default  btn-rounded"ng-style="app.settings.button">流行服饰</a>
                                                    <a href class="btn btn-sm btn-default  btn-rounded"ng-style="app.settings.button">知名品牌</a>
                                                </div>

                                            </div>
                                            <div class="m-b">
                                                <h5 ng-style="app.settings.fontColor">简介</h5>
                                                <p class="" ng-style="app.settings.fontColor">
                                                    JACK & JONES（杰克琼斯）诞生于1989年，是丹麦BESTSELLER集团旗下的主要品牌之一，主营欧式风格设计男装。
                                                </p>
                                                <p class="" ng-style="app.settings.fontColor">
                                                    专注男装设计和流行趋势，代表着都市精英一丝不苟的穿衣品味。JACK & JONES（杰克琼斯）坚持“成就最好的男人”的品牌承诺，授予展现天性的力量，赞扬率性造型的能力，展现雄性本能与野心，打造女性渴望的男人，让男性散发出非凡气度，无论身在职场还是生活中都能以最佳姿态迈向成功。
                                                </p>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"ng-style="app.settings.bbcolor"></div>
                                    <div class="col-sm-12">
                                        <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">基本信息</h4>
                                        <div class="form-inline ">
                                            <div class="block m-b">
                                                <div class="inline m-r ">
                                                    <label class="m-r"ng-style="app.settings.fontColor" >
                                                        地址：&nbsp;&nbsp;&nbsp;
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <select  class="form-control input-sm" ng-style="app.settings.select" >
                                                        <option>1层</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-sm"  placeholder="1105号" ng-style="app.settings.input">
                                                </div>
                                            </div>
                                            <div class="block m-b">
                                                <div class="inline m-r ">
                                                    <label class="m-r" ng-style="app.settings.fontColor">
                                                        联系人：
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <select  class="form-control input-sm"ng-style="app.settings.select" >
                                                        <option>1层</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-sm"  placeholder="1105号" ng-style="app.settings.input">
                                                </div>
                                            </div>
                                            <div class="block m-b">
                                                <div class="inline m-r ">
                                                    <label class="m-r" ng-style="app.settings.fontColor">
                                                        店铺等级分类：
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <select  class="form-control input-sm"ng-style="app.settings.select" >
                                                        <option>主力店</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="block m-b">
                                                <div class="inline m-r ">
                                                    <label class="m-r" ng-style="app.settings.fontColor">
                                                        店铺业态分类：
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <select  class="form-control input-sm" ng-style="app.settings.select">
                                                        <option>零售</option>
                                                    </select>
                                                </div>
                                            </div>



                                        </div>


                                    </div>
                                    <div class="line line-dashed b-b line-lg pull-in"ng-style="app.settings.bbcolor"></div>

                                    <div class="col-sm-12">

                                        <div class="row wrapper">
                                            <div class="col-sm-4 m-b-xs">
                                                <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">门店面积与租金</h4>
                                            </div>
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-5 m-b-xs">
                                                <select class="input-sm form-control w-sm inline v-middle pull-right" ng-style="app.settings.select">
                                                    <option value="0">2017</option>
                                                    <option value="1">2016</option>
                                                    <option value="2">2015</option>
                                                    <option value="3">2014</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table  m-b-none table-bordered {{app.settings.tablestriped}}" ng-style="app.settings.fontColor">
                                                <thead>
                                                <tr>
                                                    <th>月份</th>
                                                    <th>面积(㎡)</th>
                                                    <th>租金(万元)</th>
                                                    <th>备注</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="t in table">
                                                    <td>{{t.date}}</td>
                                                    <td>{{t.area}}</td>
                                                    <td>{{t.rent}}</td>
                                                    <td>{{t.note}}</td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <footer class="panel-footer " ng-style="app.settings.Panel"  style="border-top: none">
                                            <div class="row">
                                                <div class="col-sm-8 hidden-xs">
                                                    <input class="input-sm form-control w-sm inline v-middle " placeholder="面积" ng-style="app.settings.input">&nbsp;<span ng-style="app.settings.fontColor">㎡</span>
                                                    <input class="input-sm form-control w-sm inline v-middle m-l" placeholder="租金" ng-style="app.settings.input">&nbsp;<span ng-style="app.settings.fontColor">万元</span>
                                                </div>
                                                <div class="col-sm-4 text-right text-center-xs">
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                    <div class="line line-dashed  line-lg pull-in" ng-style="app.settings.bbcolor"></div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12" >
                                <div class="m-b m-t-sm">
                                    <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">管理笔记</h4>
                                    <div class="line line-dashed b-b line-lg pull-in" ng-style="app.settings.bbcolor"></div>
                                </div>
                                <div class="panel panel-default m-t-md m-b-n-sm pos-rlt" ng-style="app.settings.bbcolor" >
                                    <!--<span class="arrow top pull-left"></span>-->
                                    <form ng-style="app.settings.Panelbg">
                                        <textarea class="form-control no-border" rows="3" placeholder="Your comment..."ng-style="app.settings.input"></textarea>
                                    </form>
                                    <div class="panel-footer  lter" ng-style="app.settings.Panelbg" style="border-top: none;">
                                        <button class="btn btn-info pull-right btn-sm" ng-style="app.settings.button">Comment</button>
                                        <ul class="nav nav-pills nav-sm">
                                            <li><a href><i class="fa fa-camera text-muted" ng-style="app.settings.fontColor"></i></a></li>
                                            <li><a href><i class="fa fa-video-camera text-muted" ng-style="app.settings.fontColor"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="list-group list-group-lg m-b-none" >
                                    <li class="list-group-item" ng-repeat="c in comments" ng-style="app.settings.Panel">
                                        <p  class="m-r" ng-style="app.settings.fontColor">
                                            {{c.user}}  ：{{c.content}}
                                        </p>
                                        <span ng-style="app.settings.fontColor">{{c.date}}</span>
                                        <a ng-style="app.settings.fontColor">删除</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
