<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="abehaviorCtrl">
    <div class="col">

        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel wrapper" ng-style="app.settings.Panel">
                        <div class="btn-group pull-right" style="display: none;">

                            <button type="button" class="btn btn-default btn-sm" ng-style="app.settings.button" ng-click="">平均数
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-style="app.settings.button" ng-click="">中位数
                            </button>
                        </div>
                        <h4 class="font-bold m-t-none text-muted m_center" ng-style="app.settings.fontColor">平均停留时长分布</h4>
                        <span class="m-b block text-xs text-muted m_center" ng-style="app.settings.fontColor">{{dateName}}</span>
                        <div class="chartHeight" id="stayTimeDistID"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel wrapper" ng-style="app.settings.Panel">
                        <div class="btn-group pull-right" style="display: none;">

                            <button type="button" class="btn btn-default btn-sm" ng-style="app.settings.button" ng-click="">平均数
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-style="app.settings.button" ng-click="">中位数
                            </button>
                        </div>
                        <h4 class="font-bold m-t-none  text-muted m_center" ng-style="app.settings.fontColor">每日停留时长</h4>
                        <span class="m-b block text-xs text-muted m_center" ng-style="app.settings.fontColor">{{dateName}}</span>
                        <div class="chartHeight" id="audienceStatisticalD"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="display: none;">
                <div class="col-md-12">
                    <div class="panel wrapper" ng-style="app.settings.Panelbg">
                        <h4 class="font-bold m-t-none  text-muted" ng-style="app.settings.fontColor">展区参观轨迹</h4>
                        <span class="m-b block text-xs text-muted" ng-style="app.settings.fontColor">{{dateName}}</span>
                        <div class="shopChartHeight" id="trajectorylD">

                            <!--<p style="font-size: 30px; color: #eee; font-weight: bold; line-height: 600px; text-align: center;">暂 无 数 据</p>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div data-ng-include=" 'tpl/blocks/loading.html' " ng-show="loading" ></div>
    </div>
</div>


