<div ng-controller="ccameraCtrl" style="margin-top: 36px;">
    <!--搜索-->
    <div class="layui-row m_bottom_20">

        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 m_right_10">
            <div>账号ID:<input id="appId" type="text" name="title" lay-verify="required" placeholder="请输入账号ID（必填）"
                              autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 m_right_10">
            <div>门店ID:<input id="storeId" type="text" name="title" lay-verify="required" placeholder="请输入门店ID（必填）"
                                autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
            <div>摄像头ID:<input id="deviceId" type="text" name="title" lay-verify="required" placeholder="请输入摄像头ID"
                                 autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md2" style="text-align: center;margin-top: 20px;">
            <button class="layui-btn" ng-click="searchList()">查询</button>
        </div>

    </div>
    <!--表格-->
    <table class="layui-table" ng-show="isShow">
        <!--<table class="layui-table">-->
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>人脸编号</th>
            <th>门店编号</th>
            <th>摄像头编号</th>
            <th>性别</th>
            <th>年龄</th>
            <th>照片</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in faceDTOs">
            <td>{{item.id}}</td>
            <td>{{item.storeId}}</td>
            <td>{{item.deviceId}}</td>
            <td>{{item.sex=='1'?'男':'女'}}</td>
            <td>{{item.age}}</td>
            <td>
                <img src="{{item.faceUrl}}" alt="">
            </td>
        </tr>
        </tbody>
    </table>
</div>


<style>
    .m_right_10 {
        margin-right: 10px;
    }
    .m_bottom_20{
        margin-bottom: 20px;
    }
</style>
