<div ng-controller="ccameraCtrl" style="margin-top: 36px;">
    <!--搜索-->
    <div class="layui-row m_bottom_20">

        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 m_right_10">
            <div>账号ID:<input id="appId" type="text" name="title" appId={{appIdS}}  lay-verify="required" placeholder="{{appIdS}}"
                              autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 m_right_10">
            <div>门店ID:<input id="storeId" type="text" name="title" storeId={{storeidS}} lay-verify="required" placeholder="{{storeidS}}"
                                autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
            <div>摄像头ID:<input id="deviceId" type="text" name="title" lay-verify="required" placeholder="请输入摄像头ID"
                                 autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md2" style="text-align: center;margin-top: 20px;">
            <button class="layui-btn" ng-click="searchList()">查询</button>
        </div>

    </div>


    <!--表格-->
    <table class="layui-table" ng-show="isShow">
        <!--<table class="layui-table">-->
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>人脸编号</th>
            <th>门店编号</th>
            <th>摄像头编号</th>
            <th>性别</th>
            <th>年龄</th>
            <th>身份</th>
            <th>照片</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in faceDTOs">
            <td>{{item.id}}</td>
            <td>{{item.storeId}}</td>
            <td>{{item.deviceId}}</td>
            <td>{{item.sex=='1'?'男':'女'}}</td>
            <td>{{item.age}}</td>
            <td>{{item.userInfo==null ? '普通顾客':item.userInfo}}</td>
            <td>
                <img src="{{item.faceUrl}}" alt="">
            </td>
        </tr>
        </tbody>
    </table>
    <!--消息提醒-->
    <li class="dropdown xiaoxi" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            <!--<i class="icon-bell fa-fw"></i>-->
            <img src="img/news.png" alt="" style="width: 40px">
            <span class="visible-xs-inline">Notifications</span>
            <span class="badge badge-sm up bg-danger pull-right-xs">消息</span>
        </a>
        <!-- dropdown -->
        <div class="dropdown-menu w-xl animated fadeInUp tixing">
            <div class="panel bg-white">
                <div class="list-group" ng-repeat="item in memberlist">
                    <a href class="media list-group-item">
                    <span class="pull-left">
                     <img src="{{item.httpUrl}}" alt="" class="" style="height: 60px">
                    </span>
                      <small class="text-muted">人脸编号：{{item.faceId}}</small>
                        <br>
                      <small class="text-muted">时间：{{item.createtime}}</small>
                    </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- / dropdown -->
    </li>
    <!--声音提醒-->
    <audio id="audio" src="img/di%20.mp3"></audio>
</div>


<style>
    .m_right_10 {
        margin-right: 10px;
    }
    .m_bottom_20{
        margin-bottom: 20px;
    }
    .dropdown{
        position: fixed;
        top: 15%;
        right: 10px;
    }
    .tixing{
        position: relative;
        top: -1%;
        right: 0px;
    }
</style>
